.invalidar-cita {
    text-align: center;
    margin: $separacion/2 0;
    text-transform: uppercase;
}

.contenido-resumen {
    margin-bottom: $separacion/2 0;
    h3 {
        margin: $separacion/3 0;
        color: $azul;
        text-align: center;
    }
    p {
        margin-bottom: .5rem;
        span {
            font-weight: $bold;
            color: $azul;
            font-size: 2.4rem;
        }

    }

    .resumen-servicios {
        
        h3 {
            margin: $separacion/3 0;
            color: $azul;
            text-align: center;
        }
        .container-servicio {
            margin-bottom: 2rem;
            padding-bottom: 2rem;
            border-bottom: 1px solid lighten(#43453c, 10);
            .precio {
                font-size: 2.4rem;
                font-weight: $bold;
                color:$azul;
            }
            &:last-child {
                border-bottom: none;
            }
        }

    }
}

.total {
    text-align: right;
}