
.container-estetica {
    background-color: $negro;
}

.container-estetica {
    height: 100vh;

    @include tabletMedia {
        @include grid ( 2 , $separacion );
    }

    .imagen {
         background-image: url('../img/1.jpg');
         height: 30rem;
         background-size: cover;
         background-position: center center;
        @include tabletMedia {
            height: auto;
        }
    }
    
}

.app {
    h1,h2 {
        text-align: center;
        color: $azul;
        font-weight: $bold;
    }
    
    width: 95%;
    margin: 0 auto;
    padding-top: $separacion/2;

    .seccion {
        display: none;
        margin-top: $separacion/2;

        p {
            color: $blanco;
        }
    }
}


.mostrar-seccion {
    display: block!important
}