
.container-estetica {
    background-color: $negro;
}

.container-estetica {
   
    @include tabletMedia {
        height: 100vh;
        @include grid ( 2 , $separacion );
    }

    .imagen {
         background-image: url('../img/1.jpg');
         height: 30rem;
         background-size: cover;
         background-position: center center;
        @include tabletMedia {
            height: auto;
        }
    }
    
}

.app {
    h1 {
        text-align: center;
        color: $azul;
        text-transform: uppercase;
        font-weight: $bold;
    }
    
    width: 95%;
    margin: 0 auto;
    padding-top: $separacion/2;

    .seccion {
        display: none;
        text-align: center;
        margin-top: $separacion/2;
        color: $azul;
        &:first-of-type {
            display:block;
        }
    }
}